<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> UOB</legend>
            <address>
                <strong>MCS 2014-2017</strong><br>
                Muhammad Yasir Arfat<br>
                Mazkoora Khan<br>
                Mehr Un Nisa<br>
                Qadeer Khan<br>
                <abbr title="Phone">
                    P:</abbr>
                (334) 151-2111
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">yasir_tatari99@hotmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
<div class="container">
	<div class="row-fluid">
        <div class="span8">
        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13798.004386704983!2d66.98841605035761!3d30.165676719701878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ed2e0ac398e831f%3A0x422af49e5a0e626e!2sUniversity+of+Balochistan!5e0!3m2!1sen!2s!4v1490649249625" width="70%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</div>
    	
      </div>
</div>